/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    overflow-x: hidden;
}

.orange_header {
    height: 100vh;
    max-height: calc(100vw * 763 / 1440);
    background-color: #F9B944;
    position:relative;
    overflow:hidden;
}

.navbar {
    font-size: calc(100vw * 20 / 1440);
    line-height: calc(100vw * 24 / 1440);
    padding: 0;
}

.navbar .container {
    padding:0;
    margin:0;
    max-width:100%;
}

.logo {
    width: calc(100vw * 50 / 1440);
    height: calc(100vw * 50 / 1440);
    border-radius: calc(100vw * 25 / 1440);
    background-color: white;
    margin-right: calc(100vw * 12 / 1440);
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo img {
    width: calc(100vw * 32 / 1440)
}

.navbar-brand {
    display: flex;
    line-height: calc(100vw * 58 / 1440);
    color: white;
    padding: 0;
    margin: calc(100vw * 33 / 1440) 0 0 calc(100vw * 43 / 1440);
    font-weight: 900;
    font-size: calc(100vw * 15 / 1440);
    font-variant: small-caps;
}

.navbar-collapse {
    position: absolute;
    right: 0;
    top: calc(100vw * 31 / 1440);
}

.navbar-collapse li {
    margin: 0 calc(100vw * 77 / 1440) 0 0;
    font-size: calc(100vw * 20 / 1440);
}

.navbar-collapse li:last-child {
    margin: 0 calc(100vw * 43 / 1440) 0 0;
}

.perro_home {
    position: absolute;
    top: calc(100vw * 158 / 1440);
    right: calc(100vw * -40 / 1440);
    height: calc(100vw * 684 / 1440);
    width: calc(100vw * 684 / 1440);
}

.perro_home .orange_circle {
    position:absolute;
    height: 100%;
    width: 100%;
    border-radius: calc(50vw * 684 / 1440);
    background-color: #D58D02;
}

.perro_home .white_circle {
    position: absolute;
    height: calc(100vw * 603 / 1440);
    width: calc(100vw * 603 / 1440);
    border-radius: calc(50vw * 603 / 1440);
    background-color: white;
    margin: calc(100vw * 44 / 1440) 0 0 calc(100vw * 41 / 1440);
}

.perro_home img {
    width: calc(100vw * 565 / 1440);
    position: absolute;
    top: calc(100vw * -101 / 1440);
    left: calc(100vw * 79 / 1440);
}

.login {
    width: calc(100vw * 369 / 1440);
    height: calc(100vw * 413 / 1440);
    left: calc(100vw * 119 / 1440);
    top: calc(100vw * 264 / 1440);
    position: absolute;
    background-color: white;
    box-shadow: 0px calc(100vw * 4 / 1440) calc(100vw * 4 / 1440) #00000055;
    border-radius: calc(100vw * 45 / 1440);
}

.texto_bienvenida, .texto_saludo {
    position: absolute;
    left: calc(100vw * 122 / 1440);
    top: calc(100vw * 112 / 1440);
    width: calc(100vw * 600 / 1440);
    color: white;
}

.texto_saludo {
    text-align:center;
}

.texto_bienvenida h1, .texto_saludo h1 {
    font-weight: 900;
    font-size: calc(100vw * 45 / 1440);
}

.texto_saludo h1 {
    text-align: center;
}

.texto_saludo span {
    width: calc(100vw * 331 / 1440);
    height: calc(100vh * 41 / 762);
    font-size: calc(100vw * 35 / 1440);
    line-height: calc(100vh * 41 / 762);
    background: #FFFFFF;
    border-radius: 14px;
    color: #7C7C7C;
    display: inline-block;
}

.texto_bienvenida p, .texto_saludo p {
    font-weight: 300;
    font-size: calc(100vw * 18 / 1440);
    text-align: justify;
    line-height: calc(100vw * 23 / 1440);
}

.texto_saludo p {
    text-align: center;
}

span.petremember {
    font-weight: 700;
    font-size: calc(100vw * 20 / 1440);
    font-variant: small-caps;
}

.loginregistro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vw * 43 / 1440);
    margin: 0;
    padding: 0;
    display: table;
}

.loginregistro li {
    font-size: calc(100vw * 13 / 1440);
    padding: 0 calc(100vw * 12 / 1440) 0 calc(100vw * 12 / 1440);
    display: table-cell;
    border-bottom: 1px solid #C4C4C4;
    cursor:pointer;
}

.loginregistro li.activo {
    border-bottom: 3px solid #D58D02;
    box-shadow: 4px 4px 4px #00000044;
}

.login form {
    width: calc(100vw * 273 / 1440);
    position: absolute;
    left: 50%;
    top: calc(100vw * 159 / 1440);
    transform: translateX(-50%);
}

.login input {
    width:90%;
}

.login input::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #C4C4C4;
}

.login input, .login label {
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 0;
}

.login .form-group {
    display: flex;
    flex-flow: row wrap;
}

.login label {
    margin:0;
    padding:0;
    width:10%;
}

.login label.mail {
    padding-top: 10px;
}

.login label.pass {
    padding-top: 5px;
}

.login label.mail:before {
    content: url(/images/PetRemember-Mail.svg);
}
    
.login label.pass:before {
    content: url(/images/PetRemember-Lock.svg);
}

.login .btn {
    width: 100%;
    background: #D58D02;
    box-shadow: 0px calc(100vh * 4 / 762) calc(100vh * 4 / 762) rgba(0, 0, 0, 0.25);
    border-radius: calc(100vh * 20 / 762);
    height: calc(100vw * 51 / 1440);
    font-weight: bold;
    font-size: calc(100vw * 20 / 1440);
    margin-top: calc(100vw * 40 / 1440);
}

.login p {
    font-size: 9px;
}

footer {
    background-color: #363636;
}

footer h2 {
    color: white;
}

footer .siguenos {
    margin-top: calc(100vh * 41 / 762);
    margin-left: calc(100vw * 85 / 1440);
}